<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928186515153-5nobl8eaka5vaarglbcpjaug9ehokqfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928186515153-5nobl8eaka5vaarglbcpjaug9ehokqfi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928186515153-bkbah41ot7qjl1a842to7ftvu8v3f4vl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdxrfRBATgcVuk4xRtp0IG1EE97a3Jpv4</string>
	<key>GCM_SENDER_ID</key>
	<string>928186515153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rukkiecodes.healthTok</string>
	<key>PROJECT_ID</key>
	<string>bluezone-624ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bluezone-624ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928186515153:ios:ac2951fdc6d33e1ede4ff0</string>
</dict>
</plist>